<div class="navbar-container">
	<div class="navbar-main">
		<div class="navbar navbar-expand-lg gray-nav" style="">
		    <a class="navbar-brand" href="/">
		    <%= image_tag "logo.svg", :class => "img_preview", :width => "24", :height => "24" %>
		    </a>
		    <div class="collapse navbar-collapse flex-column text-white" id="navbar-collapse">
		    	<div class="nav flex-column nav-pills">
                    <button id="drawerEl_close" class="GlobalItemInner" onclick="goBackSite();" href="#">
						<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation"><path d="M8.414 11.5H18a1 1 0 0 1 0 2H8.414l3.793 3.793a1 1 0 0 1-1.414 1.414l-5.5-5.5a1 1 0 0 1 0-1.414l5.5-5.5a1 1 0 0 1 1.414 1.414L8.414 11.5z" fill="currentColor" fill-rule="evenodd"></path></svg>
	                </button>
                </div>
		    </div>
		    <div class="d-none d-lg-block">
		        <%= render "partials/navbarProfile" %>
		    </div>
		</div>
	</div>
</div>

<script>
	
function goBackSite(){
	window.location = "/"
}
</script>