
<header class="app-header">
    <div class="app-header--primary">
      
        <div class="app-header--context">
          <h1 class="app-header--heading">Dashboard</h1>
        </div>
      
    </div>

</header>